@import "./constant.scss";
// bellefair
@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
// barlow condensed
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bellefair&display=swap");
// barlow
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bellefair&display=swap");

img {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

.heading-XL {
  font-family: "Bellefair", serif;
  font-size: 144px;
  line-height: 171.9%;
  letter-spacing: 0px;
  font-weight: 400;
  font-style: normal;
}

.heading-L {
  font-family: "Bellefair", serif;
  font-size: 100px;
  line-height: 114.6%;
  letter-spacing: 0px;
  font-weight: 400;
  font-style: normal;
}

.heading-M {
  font-family: "Bellefair", serif;
  font-size: 56px;
  line-height: 64.2%;
  letter-spacing: 0px;
  font-weight: 400;
  font-style: normal;
}

.heading-S {
  font-family: "Bellefair", serif;
  font-size: 32px;
  line-height: 36.7%;
  letter-spacing: 0px;
  font-weight: 400;
  font-style: normal;
}

.heading-XS {
  font-family: "Bellefair", serif;
  font-size: 28px;
  line-height: 33.6%;
  letter-spacing: 4px;
  font-weight: 400;
  font-style: normal;
}

.subheading-L {
  font-family: "Bellefair", serif;
  font-size: 28px;
  line-height: 32.1%;
  letter-spacing: 0px;
  font-weight: 400;
  font-style: normal;
}

.subheading-S {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 14px;
  line-height: 16.8%;
  letter-spacing: 2px;
  font-weight: 400;
  font-style: normal;
}

.nav-text {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 16px;
  line-height: 19.2%;
  letter-spacing: 2px;
  font-weight: 400;
  font-style: normal;
  color: $white;
}

.body {
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  line-height: 180%;
  letter-spacing: 0px;
  font-weight: 400;
  font-style: normal;
}
