$breakpoints: (
  "phone": 750px,
  "tablet": 850px,
  "tabletPro": 1200px,
  "desktop": 1440px,
);

@mixin respondTo($breakname) {
  $bp: map-get($breakpoints, $breakname);
  @if type-of($bp) == "list" {
    $min: nth($bp, 1);
    $max: nth($bp, 2);
    @media (min-width: $min) and (max-width: $max) {
      @content;
    }
  } @else {
    @media screen and (max-width: $bp) {
      @content;
    }
  }
}
